body {
	margin-left: 40px;
	margin-right: 40px;
}
/* 전체배경  div id="sales"==># 으로 접근 */
 div#sales {
	background-color: #00ff2a;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 5px solid #ff3908; /* 추가1 전체테두리 수정  */

}
/* 핑크색위에,글자색#ff0000 , div의 saleItem은 class이므로 div.saleItem 점으로 접근 */
div.saleItem { 
	font-family: Verdana, Helvetica, sans-serif;
	color: #d400ff;
	padding: 10px;
}
/* 이후 세개가 함께나와야 차례대로 행의 색이 바뀜 , 두번째행의 색:노란색#fafaaa */
div.saleItem:nth-child(2n) {
	background-color: #b9aafa;
	margin:10px;/* 추가 테두리색 보이도록 수정 */
}
div.saleItem:nth-child(2n+1) { /* 추가2 홀수 설정 */
	background-color: #ecfc17;/* 추가3 홀수색 노란색 설정*/
	margin:10px;/* 추가4 테두리색 보이도록 수정 */
}
div.saleItem:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.saleItem:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
} 